<div>
    <form method="" action="" id="add_form">
        {# Include the hidden fields #}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {# Include the visiable fields #}
        {% for f in form.visible_fields %}
        <p>
            <label class="label">{{ f.label }}: </label>
            {{ f }}
            <label class="error" id="{{ f.id_for_label }}">{% if f.errors.as_text %}*{% endif %}</label>
        </p>
        {% endfor %}
        <p >
            <input type="submit" value="Submit"/>
        </p>

        
    </form>
</div>