<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</head>
<body>
<h1>
     CARS

</h1>
<div>
    <p id = "car-list">
        {% if cars %}
        {% for car in cars %}
        <p>
            {{car.name}}
            <img src="{{car.image}}" height="150px" width="400px" alt="" /></a>
            {{car.image}}
        </p>
        {% endfor %}
        {% else %}
        <a href="">No Cars</a>
        {% endif %}
    </p>
</div>
    <script type="text/javascript" src="/jquery/main.js" ></script>
</body>
</html>
